<h1>All Users</h1> <h1> <a href="/professional/index">Home</a> </h1>

<% for user in @alluser %>


      <p><a href="/professional/<%=user.id%>"><%= user.name %></a> <a href="/connecting/<%=user.id%>">Connect</a> </p>


<% end %>
